.container {{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2.331vw;
}

.section {{
    margin-bottom: 6.989vw;
    display: flex;
    flex-direction: column;
    gap: 3.726vw;
}

.section-title {{
    font-size: 1.231vw;
    color: #ffc107;
    border-bottom-width: 0.466vw;
    border-bottom-color: #333333;
    padding-bottom: 0.932vw;
}

.item {{
    min-height: 11.181vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.331vw;
}

.item-text {{
    height: 11.181vw;
    line-height: 11.181vw;
    font-size: 1.106vw;
    color: #ffffff;
}

.item-input,
.item-textarea {{
    flex: 1;

    height: 11.181vw;
    background-color: #111111;
    color: #ffffff;
    border-width: 0.466vw;
    border-color: #444444;
    font-size: 1.106vw;
    line-height: 9.317vw;
    padding: 0.932vw;
    border-radius: 1.398vw;
}

.item-input-disabled {{
    background-color: #222222;
    color: #888888;
    border-color: #333333;
}

.item-textarea {{
    min-height: 37.272vw;
}

.btn-row {{
    display: flex;
    flex-direction: row;
    gap: 3.726vw;
}

.slider {{
    width: 100%;
    height: 13.978vw;
}

.btn {{
    flex: 1;
    height: 11.181vw;
    text-align: center;
    font-size: 0.983vw;
    line-height: 11.181vw;
    border-radius: 1.398vw;
    padding: 0 3.937vw;
}

.btn-primary {{
    background-color: #007acc;
    color: #ffffff;
}

.btn-success {{
    background-color: #28a745;
    color: #ffffff;
}

.btn-danger {{
    background-color: #dc3545;
    color: #ffffff;
}

.btn-warning {{
    background-color: #ffc107;
    color: #000000;
}

.btn-info {{
    background-color: #17a2b8;
    color: #ffffff;
}

.btn-area {{
    height: 11.181vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
